<!DOCTYPE html>
<html>
  <head>
    <h1>Login</h1>
  </head>
  <body>

      <button class="btn btn-primary" id="login" type="submit"
              onclick="location.href='http://localhost:3000/auth'">Login</button>
    </form>
  </body>
</html>
