<!DOCTYPE html>
<html>
  <head>
    <h1>Spotify GIF Finder - CS411 Team 8</h1>
  </head>
  <body>
      <h2>Please log in.</h2>
      <button class="btn btn-primary" id="login" type="submit"
              onclick="location.href='http://localhost:3000/auth'">Login</button>
    </form>
  </body>
</html>
